.Inic{
    display: flex;
    align-items: center;
}

.inicop{
    
    margin-top: 7rem;
    margin-left: 5rem;
    width: 25%;
    height: 410px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 1rem;
    
}

.inicop > img{
   
    min-height: 150px;
    width: 150px;
}

.inicop > h1{
    
  font-size: large;
}

.inicop > h2{
    margin: auto;
    font-size: small;
    width: 76.5%;
    
}

.inicop > button{
    margin-top: 3rem;
    width: 15rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.but:hover{
    background-color: black;
    color: darkorange;
    cursor: pointer;
}

