.nav{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 60px;
}

.car{
    position: relative;
    margin-top: 0.3rem;
    margin-left: 65rem;
    cursor: pointer;
    width: 1.8rem; /* Defina a largura desejada */
    height: auto;
}

.cart-count {
    position: absolute;
    top: 1rem;
    right: 10rem;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 8px;
  }